################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/parkerCilent/auto-imports.d.ts
/parkerCilent/components.d.ts
/parkerCilent/package-lock.json
/Parker/.vs/*
/Parker/bin/*
/Parker/obj/*
/Parker/.vs/ParkerBot/v17/.suo
/Parker/wwwroot/pages/*
/.vs
/Parker/Properties/*