################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/parkerCilent/auto-imports.d.ts
/parkerCilent/components.d.ts
/parkerCilent/package-lock.json
/**/.vs/*
/**/bin/*
/**/obj/*
/**/.vs/ParkerBot/v17/.suo
/.vs
/Parker/Properties/*